*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Myriad", Arial, Helvetica, sans-serif;
    color: #fff;
}

html{
    background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 100, 255, 1), rgba(0, 0, 0, 1));
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Myriad";
    src: url("./fonts/MyriadPro-Regular.otf");
}

#profile{
    height:12vh;
    width: 12vh;
    background-color: black;
    border-radius: 50%;
    background-image: url("./imgs/perfil_imagem.jpg");
    background-size: cover;
    box-shadow: #fff 2px 2px 5px;
    transition: 400ms;
    margin-left: 30%;
}

#profile:hover{
    transform: scale(1.2, 1.2);
}

header{
    display: flex;
    /* margin: 20px; */
    padding: 20px;
    /* margin-left: 30%; */
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 1000ms;
    opacity: 0;
}

.showBg{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

header ul{
    margin-right: 30%;
}

header ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    padding: 7px 14px;
    margin: 20px 10px;
    /* box-shadow: #fff 2px 2px; */
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 3px #fff;
    border-radius: 10px;
    display: inline-block;
    transition: 600ms;
}
header ul li:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#welcome{
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #fff;
    width: 40%;
    margin-left: 30%;
    margin-top: 50vh;
    transition: 2000ms;
    position: relative;
    top: -400px;
    opacity: 0;
}

#welcome:hover{
    transform: scale(1.1, 1.1);
}

#about{
    width: 40%;
    /* border: 2px solid #444; */
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    box-shadow: 0 0 5px #aaa;
    margin-left: 30%;
    border-radius: 20px;
    margin-top: 50px;
    background-color: rgba(37, 37, 37, 0.3);
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: 3000ms;
}

#about div{
    padding: 20px 30px;
}

#about div p{
    line-height: 25px;
    color: #eee;
}

/* #terte{
    position: absolute;
    left: 30%;
    top: 80%;
    z-index: -1;
} */

#family{
    width: 40%;
    height: auto;
    background-color: white;
    margin-top: 100px;
    margin-left: 30%;
    border-radius: 20px;
    background-color: rgba(37, 37, 37, 0.3);
    text-align: center;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 5px #aaa;
    margin-bottom: 100px;
}

#family h2{
    color: white;
    font-size: 2rem;
    padding-top: 20px;
}

#family #members{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.member{
    width: 11vw;
    height: 11vw;
    overflow: hidden;
    background-size: cover;
    border-radius: 50%;
    margin: 1vw;
    margin-bottom: 20px;
    box-shadow: 0 0 7px #f9f9f9;
    transition: 500ms;
}
.member:hover{
    transform: scale(1.1, 1.1);
}

.member img{
    width: 11vw;
    height: auto;
}

#adjust{
    position: relative;
    top: -20px;
}

#projects{
    width: 40%;
    height: auto;
    background-color: white;
    margin-top: 100px;
    margin-left: 30%;
    border-radius: 20px;
    background-color: rgba(37, 37, 37, 0.3);
    text-align: center;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 5px #aaa;
    margin-bottom: 100px;
}

#projects h2{
    color: white;
    font-size: 2rem;
    padding-top: 20px;
}

#projects #projectField{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projectUnique{
    width: 40%;
    height: 11vw;
    overflow: hidden;
    background-size: cover;
    margin: 1vw;
    margin-bottom: 20px;
    box-shadow: 0 0 7px #f9f9f9;
    border-radius: 10px;
    background-position-x: center;
    transition: 500ms;
}
.projectUnique:hover{
    transform: scale(1.1, 1.1);
}

.projectUnique:nth-child(1){
    background-image: url("./imgs/2.png");
}
.projectUnique:nth-child(2){
    background-image: url("./imgs/3.png");
}
.projectUnique:nth-child(3){
    background-image: url("./imgs/1.png");
}
.projectUnique:nth-child(4){
    background-image: url("./imgs/4.png");
}

#foot{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 25px;
}
#foot h1{
    font-weight: 500;
}

@media screen and (max-width: 900px){
    /* .member{
        width: 32vw;
        height: 32vw;
    }
    .member img{
        width: 32vw;
        height: auto;
    }
    .projectUnique{
        width: 80%;
        height: 10vw;
    } */
    #welcome{
        width: 90%;
        margin-left: 5%;
    }

    #about{
        width: 90%;
        margin-left: 5%;
    }

    #projects{
        width: 90%;
        margin-left: 5%;
    }

    .projectUnique{
        width: 40%;
        height: 20vw;
    }

    header ul{
        margin-right: 0;
    }

    #profile{
        margin-left: 0;
    }

    #family{
        width: 90%;
        margin-left: 5%;
    }

    .member{
        width: 35vw;
        height: 35vw;
    }
    .member img{
        width: 35vw;
        height: auto;
    }
}
